.artifact { 
    color: rgb(255, 255, 0) !important; 
    font-weight: bold /* Shit's barely readable without it*/
}
.legendary { color: rgb(210, 118, 24) !important }
.epic { color: rgb(140, 52, 201) !important }
.rare { color: rgb(0, 112, 255) !important }
.uncommon { color: rgb(17, 145, 0) !important }
.common { color: #4d4d4d !important }

.shitterwatch-jobDiv{
	display: inline-block !important;
	margin-left:8px;
	margin-right:8px;
}

.shitterwatch-textDiv{
	text-align: center !important;	
}
.shitterwatch-imgDiv{
	display: block;
    margin-left: auto;
    margin-right: auto 
}

.shitterwatch-noDataDiv{
	color: red;
	text-align: center;
}

.shitterwatch-render{
    display: inline-block;
    margin-left: auto;
    margin-right: auto
}

/*http://www.corelangs.com/css/box/hover.html*/
/*ugly as fuck tho, may need to change it later*/
.shitterwatch-render:hover{
	-moz-box-shadow: 0 0 20px #908f8f; 
	-webkit-box-shadow: 0 0 20px #908f8f; 
	box-shadow: 0 0 10px #908f8f;
}

.shitterwatch-container{
	margin-left:10px;
	margin-top:10px;
	margin-right:10px;
	margin-bottom:0px;
}

/*https://projects.lukehaas.me/css-loaders/#load8*/
.shitterwatch-prerender,
.shitterwatch-prerender:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.shitterwatch-prerender {
  margin: 3px auto;
  font-size: 2px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
